@import "reset.less";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1rem;
    line-height: 1.5;
    height: inherit;
    background-color: #C4DFE6; 
    color: #07576B;
}

h1 {
    font-size: 2rem;
}